# 数据库地址
DATABASE_URL=postgresql://user:password@127.0.0.1:5432/dbname

# 认证秘钥与地址
BETTER_AUTH_SECRET=your-secret-key-here
BETTER_AUTH_URL=http://localhost:3000

# Socket.IO 的 CORS 允许来源
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Socket.IO 端口与地址
SOCKET_PORT=3001
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

# 网易云 api 服务地址
MUSIC_API_BASE_URL=http://127.0.0.1:3002

# ai
DASHSCOPE_API_KEY=sk-your-api-key
DASHSCOPE_BASE_URL=https://your-region.maas.aliyuncs.com/compatible-mode/v1
DASHSCOPE_MODEL=deepseek-v4-flash